@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* 
:root {
  --neon-text-color: rgb(235, 125, 86);
  --neon-border-color: #08f;
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff,
    0 0 1rem var(--neon-border-color), 0 0 0.4rem var(--neon-border-color),
    0 0 1.4rem var(--neon-border-color),
    inset 0 0 0.7rem var(--neon-border-color);
}

h1,
h2 {
  font-size: 2.5rem;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff,
      0 0 8px var(--neon-text-color), 0 0 14px var(--neon-text-color),
      0 0 16px var(--neon-text-color), 0 0 20px var(--neon-text-color),
      0 0 30px var(--neon-text-color);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 4px var(--neon-text-color), 0 0 7px var(--neon-text-color),
      0 0 8px var(--neon-text-color), 0 0 10px var(--neon-text-color),
      0 0 15px var(--neon-text-color);
  }
}

button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: var(--neon-border-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
}

button:hover {
  background: var(--neon-border-color);
  color: #111;
  box-shadow: 0 0 2px var(--neon-border-color),
    0 0 10px var(--neon-border-color), 0 0 20px var(--neon-border-color),
    0 0 80px var(--neon-border-color);
}

.quiz-option {
  border: 1px solid var(--neon-border-color);
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.quiz-option:hover {
  box-shadow: 0 0 2px var(--neon-border-color),
    0 0 10px var(--neon-border-color), 0 0 20px var(--neon-border-color),
    0 0 80px var(--neon-border-color);
}

.progress-item {
  border: 1px solid var(--neon-border-color);
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

.progress-item:hover {
  box-shadow: 0 0 2px var(--neon-border-color),
    0 0 10px var(--neon-border-color);
}

.dark .container {
  background-color: #222;
}

.dark button {
  color: var(--neon-text-color);
}

.dark button:hover {
  background: var(--neon-text-color);
  color: #222;
  box-shadow: 0 0 2px var(--neon-text-color), 0 0 10px var(--neon-text-color),
    0 0 20px var(--neon-text-color), 0 0 80px var(--neon-text-color);
} */
